{
    "plugins": [
        "styled-components",
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "@components": "./src/components",
                    "@pages": "./src/pages",
                    "@assets": "./src/assets",
                    "@layouts": "./src/layouts",
                    "@configs": "./src/configs",
                    "@icons": "./src/components/Icons",
                    "@utils": "./src/utils",
                    "@services": "./src/services",
                    "@hooks": "./src/hooks"
                }
            }
        ]
    ]
}
