{
  "plugins": [
    "styled-components",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@assets": "./src/assets",
          "@layouts": "./src/components/Layout/components"
        }
      }
    ]
  ]
}
